  <h1>EQUAL HEIGHT COLUMNS WITH MARGINS IN MULTIPLE ROWS and VARIABLE NO OF BOXES</h1>
  <p>Add display:flex, flex-wrap: wrap to the parent and give a width to the boxes. Give
    margins to the boxes and remove the left and right margins of the first and last box 
    in each 'row' using the nth-of-type selector. Unlike the previous example,
    justify-content: space-between on the parent does not work for an uneven number of boxes,
    because if there are five boxes in all, the third and fifth will align to the left and right
    of the perceived 'row'.</p>
  <div class="displayWrap eqWrap">
    <div class="articleItem eq">boo <br> boo</div>
    <div class="articleItem eq">shoo</div>
    <div class="articleItem eq">clue</div>
    <div class="articleItem eq">boo <br> boo </div>
    <div class="articleItem eq">clue</div>
  </div>
</div>