<div id="wrapper">
    <div id="pageTitle">
        <h1>Missed Connections</h1>
        <h3>Find out if true love is about to pass you by</h3>
    </div>
    <div id="myModal" class="modal"> 
        <div class="modal-content"></div>
        <div id="past-comments"></div>
        <div id="commentsContainer"></div>
    </div>
    <div class="displayWrap eqWrap"></div>
    

</div>

<script src="../js/app.js"></script>
<script>
    span.onclick = function() {
  modal.style.display = "none";
}
</script>
